
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;800&family=Montserrat:wght@400;700&display=swap');


:root{
    --bs-body-color: #212529;
    --bs-body-font-size: 1rem;
    --bs-font-sans-serif:"Libre Franklin", sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;

    --bs-body-bg-color: #d6dee6;

    --bs-light-rgb: 248, 249, 250;
    --bs-white-rgb: 255, 255, 255;
    --bs-dsark-rgb: 0, 0, 0;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

*{
    box-sizing: border-box;
}

.h2 {
    color: var(--bs-header-color);
    font-size: var(---bs-body-font-size);
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg-color);
}

.bg-wite {
    background-color: rgb(var(--bs-white-rgb));
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-5{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>*{
    width: 100;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-top: calc(var(--bs-gutter-y));
}


.pruduct{

}

.text-center{
    text-align: center;
}


.mb-3{
    margin-bottom: 1rem !important;
}

.img-flued{
    max-width: 100%;
}

/* navigation */

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar .nav-link{
    font-size: 0.92rem;
}

.navbar-brand{
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 1rem;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

.navbar-collapse{
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
}

.navbar-expand{
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar-expand .navbar-nav{
    flex-direction: row;
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-between;
}

.navbar-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

/* .navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
} */

.nav-link{
    display: block;
    font-weight: 700;
    color: #b69750;
    text-decoration: none;
    padding: .5rem 1rem;
    /*margin-left: 1rem; 
     position: relative;
    opacity: 0.7;
    transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);*/
}
 /* menu gradient underline start*/

/* a::after {
    --scale: 0;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 0.3rem;
    background: linear-gradient(135deg, #d8e618, #00ccff);
    transform: scaleX(var(--scale));
    transform-origin: var(--x) 50%;
    transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1);
}

a:hover {
    opacity: 1;
}

a:hover::after {
    --scale: 1; */
}
/* menu gradient underline end*/

.head{
    color: var(--bs-header-color);
        font-size: 2rem;
        text-align: center;
}

.list-unstyled{
    list-style: none;
}

.list-inline{
    list-style: none;
}

.list-inline-item{
    display: inline-block;
}

.reset-anchor{
    text-decoration: none;
}

.bg-dark {
    background-color: rgb(var(--bs-dsark-rgb));
    text-align: center;
}

.text-white{
    color: rgb(var(--bs-white-rgb));
}

.small {
    font-size: .888em;
}

.text-muted{
    color: #94a19d;
}

.link-style{
    text-decoration: none;
}


/* Cantacts style 
https: //codepen.io/abdelrhmansaid/pen/OJRNOpQ */

.sociial-contacts{
    display: grid;
    height: 100%; 
    width: 100%;
    place-items: center;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}


/* .navbar-nav {
    display: block;
    border-style: dotted;
    border-radius: 10px;
    border-bottom: 20px solid #949599;
    list-style: none;
    font-size: 1.5em;
    color: var(--bs-header-color);
}

.nav-link  {
    text-decoration: none;
}

.head {
    color: var(--bs-header-color);
    font-size: 3em;
    text-align: center;
}
 
.content {
    text-align: center;
}

footer {
    text-align: center;
    text-decoration: none;
    color: rgb(60, 83, 211);
    font-size: 1em;
    text-decoration:none;
} */
